@import '../../style/colors.scss';

.header-banner {
    display: flex !important;
    background: $brand-color;
    flex-direction: column;
    line-height: 1;
    height: auto;
    padding-bottom: 10vh;
    padding-top: 5vh;
    img {
        width: 100%;
    }
    
    .main-title {
        text-align: center;
        color: white;
        font-size: 5em;
        margin-top: 3vh;
        margin-bottom: 5vh;
        text-transform: uppercase;
        font-weight: 600;
    }

    .main-subtitle {
    margin: 0 auto;
    p {
        color: #f5f5f5;
        width: 50vw;
        font-family: 'lato', Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 3000;
        .senator-time {
          font-weight: 800;
        }
    }
    }
}