@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto+Condensed:700');

body {
  font-family: Open Sans,sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed';
  font-weight: 700;
}